.container {
    width: 600px;
    height: 400px;
    background-color: blue;
}

.test {
    width: 300px;
    height: 100px;
    background-color: red;
}

.conflit {
    background-color: black;
    background-color: darkgreen;
}